@charset "utf-8";
@import "reset";
@mixin full {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
@mixin place($pos) {
    position: $pos;
}
@mixin radius($W) {
    border-radius: $W;
}
html,
body {
    @include full;
}
html {
    -ms-touch-action: none;
}
body {
    background: #f1f1f1;
}
#app {
    @include full;
    max-width: 1024px;
    margin:0 auto;
    & > div {
        @include full;
                           /*  display: box;
              display: -webkit-box;
                  display: -moz-box;
              -webkit-box-orient: vertical !important;
                  -moz-box-orient: vertical;
                   box-orient: vertical;*/
        display: flex;
        flex-direction: column;
    }
}
/*section*/
section {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    flex:1;
    /*box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;*/
}
section::-webkit-scrollbar {
    display: none;
}